div#container {
	display: flex;
    flex-direction: column;
    min-width: 200px;
    text-align: center;
}

div#data {

}

div#buttons {
    display: flex;
    flex-direction: column;
}

a {
    margin-top: 10px;
    display: block;
}

div#urls {
}

.button {
	width: 152px;
	height: 38px;
	border: 1px solid black;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}